.datePicker .mat-form-field-infix{
    display: inline-flex !important;
    height: 55px !important;
}
.datePicker .mat-datepicker-toggle{
    margin-top: -15px !important;
}
.mat-mdc-radio-button ~ .mat-mdc-radio-button {
    margin-left: 16px;
  }